# --- Personal & Security ---
.env

# --- Build & Compiled ---
**/target/
**/build/
**/bin/
**/out/
.mvn/wrapper/maven-wrapper.jar
HELP.md

# --- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr
out/

# --- VS Code ---
.vscode/

# --- STS (Spring Tool Suite) ---
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# --- NetBeans ---
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# --- OS temporary files ---
.DS_Store
Thumbs.db