name: CI/CD Pipeline - Docker

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Grant execute permissions
        run: chmod +x mvnw

      - name: Build with maven
        run: ./mvnw clean verify

      - name: :Login to dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/bookie:latest

  deploy:
      needs: build-and-push
      runs-on: ubuntu-latest
      if: github.ref == 'refs/heads/main'

      steps:
        - name: Deploy to EC2 via SSH
          uses: appleboy/ssh-action@v1.0.3
          with:
            host: ${{ secrets.EC2_HOST }}
            username: ec2-user
            key: ${{ secrets.EC2_PRIVATE_KEY }}
            port: 22
            script: |
              docker stop bookie-api || true
              docker rm bookie-api || true
          
              docker pull ${{ secrets.DOCKERHUB_USERNAME }}/bookie:latest
                
              docker run -d \
               -p 8080:8080 \
               --name bookie-api \
               -e SPRING_PROFILES_ACTIVE=dev \
               -e SPRING_DATA_URL=jdbc:postgresql://${{ secrets.RDS_ENDPOINT }}:5432/bookie_db \
               -e SPRING_DATA_USERNAME=postgres \
               -e SPRING_DATA_PASSWORD=${{ secrets.RDS_PASSWORD }} \
               -e MY_SECRET_KEY=${{ secrets.JWT_SECRET }} \
               ${{ secrets.DOCKERHUB_USERNAME }}/bookie:latest